.mat-card {
  margin-top: 20px;
}

.card-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.mat-form-field {
  margin-bottom: 8px;
}

.italic {
  color: #a8a4a4;
  font-style: italic;
  margin-left: 10px;
}
